.file{
	display: inline-flex;

}
.border{
	border-bottom: solid 1px #d8d8d8;
}
.filecontent{
	margin: 100px auto 0px;
	width: 95%;
    justify-content: center;
    display: grid;
    font-size: small;
}
.logopdf a img{
	height: 50px;
	width: auto;
}
.textfile h2{
	margin: 0;
}
.infovideo{

}
.videoPlayer{

}