html{
	min-height: 100%;
}
header{
	text-align: right;
}
body{
	font-family: 'Neo Sans Pro', sans-serif;
	margin: 0;
  background: #000;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  width: 100%;
  min-width: 100%; 
  min-height: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.buttons{
	margin-top: 30px;
	margin-right: 4%;
}
.buttons a{
  color: #000;
  text-decoration: none;
  font-size: 1.3em;
  padding: 0 15px;
  border: solid 1px #fff;

}

.buttons a:visited{

}
.buttons a:hover{
	
}
.buttons a:actived{
	
}

@media screen and (max-width: 550px) {
.buttons{
    margin: 44px auto 0;
    margin-right: 0;
    justify-content: center;
    display: flex;
    /* text-align: center; */
    overflow-x: auto;
}
.buttons a{
	color: #000;
	text-decoration: none;
	font-size: 1.3em;
	padding: 0 15px;
  border: solid 1px #fff;
}


/*#video-background {
/*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 245%;
    min-height: auto;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
*/
}