.buttmodo{
	text-align: center;
	margin-top: 160px;
	font-size: 1.4em;
	color: #000;
}
.stilo{

	width: 50%;
	margin: 4px auto;
}
.stilo a{
	display: block;
	text-decoration: none;
	padding: 5px;
}
.stilo a:visited{
	text-decoration: none;
	color: #000;
}
.stilo a:hover{
	text-decoration: none;
	color: #000;
}
.stilo a:actived{
	text-decoration: none;
	color: #000;
}
.modo1{

}
.modo2{

}
.modo1 a{
	background: #83bc42;
}
.modo2 a{
	background: #ece810;
}